<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>1K WORLD</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles01.css" rel="stylesheet" />
</head>

<body>
    <!-- Responsive navbar-->
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">1K WORLD</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> -->
    <!-- Page content-->

    <div class="container">
        <!-- <div class="base64" style="width:1920px"></div>  -->
        <div class="fixed">
            
             
            <img src="/assets/Back00.png"  usemap="#image-map">
            <map name="image-map">
                <area target="_blank" alt="00" title="00" href="\templates/explore/index.html"
                    coords="1406,418,1562,511,1572,768,1293,924,1136,848,1127,729,1396,562" shape="poly">
                <area target="_blank" alt="01" title="01" href="\templates/lookalikes/landingLAL.html"
                    coords="709,122,717,406,380,604,335,577,334,297,669,102" shape="poly">
                <area target="_blank" alt="02" title="02" href="\templates/book_gallery/index.html" coords="447,694,703,836,980,674,718,530" shape="poly">
                <area target="_blank" alt="03" title="03" href="\templates/1C_gallery/index.html"
                    coords="951,547,1061,481,1068,345,852,224,745,286,745,423" shape="poly">
            </map>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>